[package]
name = "minikalman"
version = "0.0.1"
description = "A microcontroller targeted Kalman filter implementation"
repository = "https://github.com/sunsided/minikalman-rs"
authors = ["Markus Mayer"]
keywords = ["kalman-filter", "embedded"]
license = "MIT"
readme = "README.md"
edition = "2021"
build = "build.rs"

[[bench]]
name = "inversion"
harness = false

[[bench]]
name = "mult"
harness = false

[features]
default = ["no_std"]
std = ["stdint/std"]
no_std = ["micromath"]

[dependencies]
micromath = { version = "2.0.0", optional = true }
stdint = { version = "0.2.0", default-features = false }

[dev-dependencies]
assert_float_eq = "1.1.3"
colored = { version = "2.0.0" }
criterion = "0.5.1"
rand = "0.8.5"
